In [6]:
import pandas as pd, numpy as np

In [9]:
vocabFile=open('./vocab.nips.txt','r')
vocabulary=[]
for line in vocabFile:
    vocabulary.append(line.split()[0])

In [10]:
dataFile=open('./docword.nips.txt','r')
nDocs=int(dataFile.readline())
nWords=int(dataFile.readline())
nCollectionSize=int(dataFile.readline())
print(nDocs,nWords,nCollectionSize)
tfA=np.zeros((nDocs,nWords))
for line in dataFile:
    components=line.split()
    tfA[int(components[0])-1,int(components[1])-1]=int(components[2])

1500 12419 746316

In [11]:
print(components)
print(tfA.shape)

['1500', '12414', '1']
(1500, 12419)

In [12]:
tfArray=pd.DataFrame(data=tfA,columns=vocabulary)

In [13]:
tfArray.head()

,a2i,aaa,aaai,aapo,aat,aazhang,abandonment,abbott,abbreviated,abcde,...,zones,zoo,zorn,zornetzer,zoubin,zucker,zue,zur,zurich,zwislocki
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
nonZeros=(tfArray>0).astype(int)

In [20]:
nonZeros.head()

,a2i,aaa,aaai,aapo,aat,aazhang,abandonment,abbott,abbreviated,abcde,...,zones,zoo,zorn,zornetzer,zoubin,zucker,zue,zur,zurich,zwislocki
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
df=nonZeros.sum()
idf=nDocs/df
print(idf)
print(idf[0])

a2i             300.000000
aaa             107.142857
aaai             28.301887
aapo            187.500000
aat             300.000000
aazhang         750.000000
abandonment     750.000000
abbott           57.692308
abbreviated     125.000000
abcde           750.000000
abe             214.285714
abeles           78.947368
abi            1500.000000
abilistic       250.000000
abilities        16.666667
ability           3.623188
abl            1500.000000
able              2.491694
ables            41.666667
ablex           187.500000
ably            150.000000
abnormal        107.142857
abort           214.285714
abound          125.000000
abramowicz      375.000000
abrash          250.000000
abrupt           93.750000
abruptly        166.666667
abscissa         93.750000
absence           8.474576
                  ...
zhaoping        150.000000
zhou            136.363636
zhu             115.384615
ziehe           214.285714
zig             375.000000
zigzag         1500.000000
zij             107.142857
zimmermann      150.000000
zip              37.500000
zipcode         166.666667
zipser           34.090909
zipset           45.454545
zisserman       166.666667
ziv             375.000000
zky             100.000000
zlt            1500.000000
zlx             166.666667
zly            1500.000000
zohary          375.000000
zone             71.428571
zones           125.000000
zoo             214.285714
zorn           1500.000000
zornetzer       150.000000
zoubin           57.692308
zucker          166.666667
zue             500.000000
zur             214.285714
zurich          125.000000
zwislocki      1500.000000
Length: 12419, dtype: float64
300.0

In [119]:
print(indices)
df=len(indices)
idf=nDocs/df
print(df,idf)

[1144 1271 1306 1394 1440]
5 300.0

In [1]:
matrix=[[1,0],[2,3]]

In [2]:
print(matrix)

[[1, 0], [2, 3]]

In [3]:
print(matrix[1][1])

3

In [8]:
npMatrix=np.array(matrix)
(npMatrix>0).astype(int)

array([[1, 0],
       [1, 1]])

In [ ]:
nonZeros=pd.DataFrame(np.zeros(tfArray.shape))
print(nonZeros.shape)
print(tfA.nonzero())
nonZeros.iloc[tfA.nonzero()]=1
print(nonZeros.iloc[0,10367])

(1500, 12419)
(array([   0,    0,    0, ..., 1499, 1499, 1499], dtype=int64), array([    1,    38,    41, ..., 12389, 12392, 12413], dtype=int64))

In [147]:
df=pd.DataFrame(mNumpy)

In [167]:
print(mNumpy.nonzero())

(array([0, 1, 1], dtype=int64), array([0, 0, 1], dtype=int64))